
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.debug{
  background-color: rgba(165, 42, 42, 0.568);
  border: 1px solid black;
}

.container{
  width: 80%;
  margin: 0 auto;
}


